<section id="login-page">
<div class="transparent-background">
  <!-- <h1 class="site-name">SpaceCamp</h1> -->
  <img src="https://s3.amazonaws.com/spacecamp-static-images/SpaceCamp-logo.png" alt="SpaceCamp Logo">
  <span class="errors"><%= flash[:errors] %></span>
</div>
<form class="new-session" action="<%= session_url %>" method="POST">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <!-- <label for="email">Email Address</label> -->
  <input type="text"
         name="email"
         value="<%= params[:email] %>"
         placeholder="email address"
         class="input-email">

  <!-- <label for="password">Password</label> -->
  <input type="password"
         name="password"
         placeholder="password"
         class="input-password">
  <button class="new-session-button">Sign In</button>
</form>
<br>



<form class="new-session" action="<%= session_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <!-- <label for="email">Email Address</label> -->
  <input type="text"
         name="email"
         value="guest_user@example.com"
         placeholder="email address"
         class="no-show">

  <!-- <label for="password">Password</label> -->
  <input type="text"
         name="password"
         value="qwerty"
         placeholder="password"
         class="no-show">
  <button class="guest-login-button">Guest Login</button>
</form>
<a class="google-sign-in" href="/auth/google_oauth2/">Sign in with Google</a>
<a class="sign-up-link" href="<%= new_user_url %>">Sign Up</a>
</section>
