<section id="sign-up-page">
  <div class="transparent-background">
    <h1>Sign Up</h1>
  </div>

  <form class="new-user" action="<%= users_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input class="email"
           type="text"
           name="user[email]"
           value="<%= @user.email %>"
           placeholder="Email Address">
    <input class="fname"
           type="text"
           name="user[fname]"
           value="<%= @user.fname %>"
           placeholder="First Name">
    <input class="lname"
           type="text"
           name="user[lname]"
           value="<%= @user.lname %>"
           placeholder="Last Name">
    <input class="password"
           type="password"
           name="user[password]"
           placeholder="Password">
    <button class="new-user-button">Submit</button>
  </form>
  <br>
  <a class="sign-in-link" href="<%= new_session_url %>">Sign In</a>
</section>
