<a class="project-link" href="<%= "#projects/" + project.id %>"><%= project.escape("title") %></a>
<h1>

	<%= discussion.escape("title") %></h1>
<ul>
	<!-- <li>Edit...</li> -->
	<% if (discussion.get("current_user_id") === discussion.get("author_id")) { %>
		<li><button>Delete...</button></li>
	<% } %>
</ul>

<img class="discussion-author-thumb group"
		 height="60px"
		 src="<%= discussion.escape("author_avatar") %>"
		 alt="Author's Picture">
<p class="content group">
	<%= discussion.escape("content") %>
</p>

	<span class="discuss">Discuss this message</span>

<section class="comments"></section>
