<td class="name group"><a href="<%= "#projects/" +
              project.id +
              "/discussions/" +
              discussion.id %>">
  </a>          
  <%= discussion.escape("author_name") %>
</td>

<td class="content group">
<a href="<%= "#projects/" +
              project.id +
              "/discussions/" +
              discussion.id %>">
</a>
<%= discussion.escape("title") %>
<%= discussion.escape("summary") %>
</td>
