<td class="avatar group">
  <a href="<%= "#projects/" +
              project.id +
              "/discussions/" +
              discussion.id %>">
  </a>
  <img height="30px" src="<%= discussion.escape("author_avatar") %>">
</td>
<td class="name group">
  <a href="<%= "#projects/" +
              project.id +
              "/discussions/" +
              discussion.id %>">
  </a>
  <%= discussion.escape("author_name") %>
</td>

<td class="content group">
<a href="<%= "#projects/" +
              project.id +
              "/discussions/" +
              discussion.id %>">
</a>
<span class="discussion-title">
  <%= discussion.escape("title") %>
</span>
<span class="discussion-summary">
   - <%= discussion.escape("summary") %>
</span>
</td>
<td class="content-date">
  <a href="<%= "#projects/" +
              project.id +
              "/discussions/" +
              discussion.id %>">
  </a>
  <span><%= time %></span>
</td>
